<!DOCTYPE html>
<html ng-app="uplifter">
    <head>
        <title>UPLIFTER</title>
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css" />
    </head>
    <body>
        <div class="container" ng-controller="MainController as vm">
            <h1>UPLIFTER</h1>
            <h3>By @CodingPower472, @Tenkaklet, and Lucas</h3>
            <div class="songs">
                <div class="song" ng-repeat="song in vm.songs" ng-show="vm.song === song">
                    <h1>{{ song.name }}</h1>
                    <h3>By {{ song.artist }}</h3>
                    <audio controls="true">
                        <source ng-src="{{ song.src }}" />
                    </audio>
                </div>
            </div>
            <h1>Play playlist</h1>
            <form ng-submit="vm.play()">
                <input type="text" ng-model="vm.playlist" />
                <input type="submit" value="Play!" class="btn btn-primary" />
            </form>
        </div>
    </body>
    <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="bower_components/soundcloud/dist/soundcloud.min.js"></script>
    <script type="text/javascript" src="js/application.js"></script>
    <script type="text/javascript" src="js/factories.js"></script>
    <script type="text/javascript" src="js/controllers.js"></script>
</html>